section:nth-child(odd)
{
    background-color: lightcoral;
}
section:nth-child(even)
{
    background-color: lightblue;
}
h1{
    font-size: 5vh;
    text-align: center;
    color: black;
}
code
{
    color: white;
    font-family:monospace;
    background-color: black;
}
code:before{
    content: "class='";
    background-color: none;
}
code:after{
    content: "'";
    background-color: rgba(0,0,0,0);
}